{% extends 'base.html' %}
{% load static %}

{% block title %}Create Bill{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2 w-100">
                        <div class="card bg-primary text-white text-center w-100">
                            <div class="card-body py-2">
                                {{ request.user.username }}
                            </div>  
                        </div>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="{% url 'employee_dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item mb-2 fw-bold fs-4">
                        <a class="nav-link" href="{% url 'create_bill' %}">Generate Bill</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="{% url 'all_bills' %}">All Bill History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bill Reports</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <h3 class="mb-4 mt-4">Generate Bill</h3>
            <div id="alertContainer" class="mt-3"></div>
            <form class="border rounded shadow-sm p-4 bg-white" id="billForm" method="POST" action="{% url 'create_bill' %}">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="customerName" class="form-label">Customer Name</label>
                        <input type="text" id="customerName" name="customerName" class="form-control" placeholder="Enter Name" required>
                    </div>
                    <div class="col-md-3">
                        <label for="billNo" class="form-label">Bill No</label>
                        <input type="text" id="billNo" class="form-control" value="{{ next_bill_no }}" readonly>
                    </div>
                    <div class="col-md-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" id="date" class="form-control" readonly>
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="customerMobile" class="form-label">Customer Mobile</label>
                        <input type="mobile" name="customerMobile" id="customerMobile" placeholder="Enter Mobile No." class="form-control" required>
                    </div>
                </div>

                <div class="table-responsive mb-3">
                    <table class="table align-middle table-bordered" id="itemsTable">
                        <thead class="table-light">
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>Item No</th>
                                <th>Item Name</th>
                                <th>Price (Rs)</th>
                                <th>Quantity</th>
                                <th>Total (Rs)</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- Rows added dynamically -->
                        </tbody>
                    </table>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-danger me-2 rounded-pill" id="deleteBtn">- Delete</button>
                    <button type="button" class="btn btn-success rounded-pill" id="addItemBtn">+ Add Items</button>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-8">
                        <div class="mb-2">
                            <label class="form-label">Total Rs:</label>
                            <input type="text" id="totalPrice" class="form-control" readonly placeholder="Total">
                        </div>
                        <button type="submit" class="btn btn-dark w-100 shadow-lg rounded-pill fw-bold">Generate Bill</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
{% endblock %}

<!-- Adding script file -->
{% block extra_scripts %}
    <script id="items-data" type="application/json">
        {{ items_json|safe }}
    </script>

    <script src="{% static 'js/generate_bill.js' %}"></script>
    <script src="{% static 'js/load_date.js' %}"></script>
{% endblock %}
